#about {
    // Semi-transparent black overlay over the background image to darken it.
    position: relative;
    &:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);
    }
    background-image: url('../assets/img/bg-about.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    }

#about-heading {
    position: relative;
    z-index: 1;
}

#about-divider {
    position: relative;
    z-index: 1;
}

#about-content {
    position: relative;
    z-index: 1;
}
