// Portfolio Modal 3
#portfolioModal3.portfolio-modal.modal.fade(tabindex='-1', aria-labelledby='portfolioModal3', aria-hidden='true')
    .modal-dialog.modal-xl
        .modal-content
            .modal-header.border-0
                button.btn-close(type='button', data-bs-dismiss='modal', aria-label='Close')
            .modal-body.text-center.pb-5
                .container
                    .row.justify-content-center
                        .col-lg-8
                            // Portfolio Modal - Title
                            h2.portfolio-modal-title.text-secondary.text-uppercase.mb-0 Multiplayer Statistics Dashboard Website for Battle for Wesnoth
                            // Icon Divider
                            .divider-custom
                                .divider-custom-line
                                .divider-custom-icon
                                    i.fas.fa-star
                                .divider-custom-line
                            // Portfolio Modal - Text
                            p.mb-4
                                | I made a Dashboard App                                
                            // Portfolio Modal - Image 1
                            figure
                                a(href='https://user-images.githubusercontent.com/41433185/126899216-498ef0c5-35a5-4d90-a7d9-01c3f4f8b3f0.png', target='_blank')
                                    img.img-fluid.rounded(src='https://user-images.githubusercontent.com/41433185/126899216-498ef0c5-35a5-4d90-a7d9-01c3f4f8b3f0.png', alt='Horizontal Bar Graph')
                                figcaption.mb-5
                                    | Statistics
                            // Portfolio Modal - Image 2
                            figure
                                a(href='https://user-images.githubusercontent.com/41433185/126899204-cbd9520b-217b-415e-9c87-9de702c32655.png', target='_blank')
                                    img.img-fluid.rounded(src='https://user-images.githubusercontent.com/41433185/126899204-cbd9520b-217b-415e-9c87-9de702c32655.png', alt='Vertical Bar Graph')
                                figcaption.mb-5
                                    | Query
                            // Major Technologies Used
                            h3.text-secondary.text-uppercase.mb-3 Technologies Used
                            .d-flex.flex-wrap.justify-content-center.mb-5
                                .d-flex.flex-column.align-items-center.m-3
                                    img.portfolio-modal-technology-img(src='https://pandas.pydata.org/static/img/pandas_mark.svg', alt='Pandas')
                                    p.text-center.mb-0 pandas
                                .d-flex.flex-column.align-items-center.m-3
                                    img.portfolio-modal-technology-img(src='https://chart-studio.plotly.com/static/webapp/images/plotly-logo.8d56a320dbb8.png', alt='Plotly')
                                    p.text-center.mb-0 Plotly
                                .d-flex.flex-column.align-items-center.m-3
                                    img.portfolio-modal-technology-img(src='assets/img/portfolio/modal_assets/PyQt-Logo.wine.svg', alt='PyQt')
                                    p.text-center.mb-0 PyQt
                            // Portfolio Modal - List
                            h3.text-secondary.text-uppercase.mb-3 Details
                            ul.portfolio-modal-list.mb-4
                                li The "Visualize Data" option was added to the app's menu bar, which was coded using PyQt.
                                li The app data was processed using pandas to make it suitable for plotting.
                                li The charts were created using Plotly.
                            // Close Modal button
                            button.btn.btn-primary(data-bs-dismiss='modal')
                                i.fas.fa-xmark.fa-fw
                                | Close Window
            .modal-footer.border-0
                p.portfolio-modal-legal-attribution
                    | All logos and trademarks in this page are property of their respective owners.
